.button {
  background-color:fc0fc0; 
  border: none;
  color: white;
  padding: 13px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 2px;
  cursor: pointer;
  font-family:Bodoni MT;
border-radius:12px;
}
.dropbtn {  
    background-color:fc0fc0;  
    color:white;  
    padding: 13px 70px;  
    font-size:20px;  
font-family:Bodoni MT;
border-radius:12px;
}  
.dropdown {  
    display: inline-block;  
    position: relative  
}  
.dropdown-content {  
    position: absolute;  
    background-color:fc0fc0;  
    min-width: 200px;  
    display: none;  
    z-index: 1; 
    font-family:Bodoni MT;
    font-size:20px;
border-radius:12px;
}  
.dropdown-content a {  
    color:white;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
    font-size:20px;
}  
.dropdown-content a:hover {  
    background-color:#f7a2ed;  
}  
.dropdown:hover .dropdown-content {  
    display: block;  
}  
.dropdown:hover .dropbtn {  
    background-color:fc0fc0;  
}  

